.group {
  padding: 20px 0 180px;

  &__item {
    padding: 0 10px;
    max-width: 330px;

    &-pic {
      width: 100%;
      max-width: 330px;
      max-height: 450px;
      object-fit: cover;
    }
  }

  &__title {
    margin-bottom: 200px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__name {
    display: block;
    padding: 25px 0 6px;
    font-weight: 700;
    font-size: 18px;
  }
}