.about {
    &__wrapper {
        padding: 190px 0 200px;
    }

    &__text {
        display: flex;
        flex-wrap: wrap;
    }

    &__text p {
        margin-right: auto;
        margin-bottom: 30px;
        max-width: 480px;
    }
}
