.blog {
  padding: 20px 0 200px;

  &__title {
    margin-bottom: 230px;
  }

  &__slider {
    &-item {
      padding: 315px 0 370px;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &-link,
    &-text {
      max-width: 600px;
      margin-left: auto;
    }

    &-link {
      display: block;
      font-weight: 400;
      font-size: 48px;
      line-height: 1.2;
      text-transform: uppercase;
      color: #fff;
      transition: all .3s;

      &:hover {
        color: #00b2a0;
        text-decoration: underline;
      }
    }

    &-text {
      color: #FFFFFF;
    }
  }
}

.slick-dots {
  position: absolute;
  display: flex;
  color: #00b2a0;
  left: 50%;
  bottom: 77px;
  transform: translateX(-50%);

  button {
    padding: 0;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    font-size: 0;
    background-color: #fff;
    transition: all .3s;
  }

  li {
    &:not(:last-child) {
      margin-right: 15px;
    }

    &.slick-active button {
      background-color: #00b2a0;
    }

    & button {
      &:hover {
        background-color: #00b2a0;
      }
    }
  }
}