.blog {
    padding: 20px 0 200px;

    &__title {
        margin-bottom: 230px;
    }

    &__slider-item {
        padding: 315px 0 280px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__slider-title {
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        text-transform: uppercase;
        color: #fff;
    }
}

.slick-dots {
    display: flex;
    color: #00b2a0;
    background-color: #00b2a0;

    button {
        margin-right: 15px;
        padding: 0;
        width: 15px;
        height: 15px;
        border: none;
        border-radius: 50%;
        font-size: 0;
        background-color: #fff;
    }
    .slick-active button {
      background-color: #00b2a0;
    }
}

