.gallery {
    padding: 20px 0 200px;

    &__title {
        margin-bottom: 212px;
    }

    &__filter-btn {
        display: flex;
        justify-content: left;
        margin-bottom: 20px;
    }

    &__filter-btn li:not(:last-child) {
        margin-right: 20px;
    }

    &__btn {
        padding: 0;
        border: none;
        font-weight: 400;
        font-size: 24px;
        text-transform: uppercase;
        background-color: #fff;
        transition: all 0.2s;
        cursor: pointer;
    }

    &__item-link {
        position: relative;
        display: block;
        height: 280px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__item-link:hover::before {
        background-color: rgba(51, 51, 51, 0);
    }

    &__items {
        margin-bottom: 50px;
    }

    &__items-group {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__items-group:not(:last-child) {
        margin-bottom: 40px;
    }

    &__add-link {
        margin: 0 auto 190px;
    }

    &__video {
        position: relative;
        margin-bottom: 200px;
    }

    &__video-play {
        position: absolute;
        right: 46%;
        top: 42%;
    }

    &__numbers {
        display: flex;
        justify-content: center;
    }

    &__number {
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 64px;
        line-height: 75px;
        text-align: center;
        color: #01353e;
    }

    &__number:not(:last-child) {
        margin-right: 100px;
    }

    &__number span {
        display: block;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #242121;
    }
}

.mixitup-control-active {
    color: #00b2a0;
    transition: all 0.2s;
}

.blockquote {
    margin-bottom: 200px;
    background-color: #f8f8f8;

    &__text {
        position: relative;
        margin: 0 auto;
        padding: 80px 0;
        max-width: 575px;
        font-weight: 400;
        font-style: italic;
        font-size: 36px;
        line-height: 40px;
        color: #242121;
    }

    &__text::after {
        content: "Нэт Янг, первый Чемпион Мира по сёрфингу";
        position: absolute;
        right: -200px;
        bottom: 50px;
        max-width: 280px;
        font-size: 14px;
        line-height: 18px;
    }
}
