.group {
  padding: 20px 0 180px;
  
  &__item {
    max-width: 330px;
  }
  
  &__title {
    margin-bottom: 200px;
  }
  
  &__item img {
    width: 330px;
    height: 450px;
    object-fit: cover;
  }
  
  &__items {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  
  &__name {
    padding: 25px 0 6px;
    font-weight: 700;
    font-size: 18px;
  }
}
