.group {
    padding: 20px 0 180px;

    &__item {
        max-width: 330px;
    }

    &__title {
        margin-bottom: 200px;
    }

    &__item img {
        max-width: 330px;
        width: 100%;
        height: 450px;
        object-fit: cover;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    &__name {
        display: block;
        padding: 25px 0 6px;
        font-weight: 700;
        font-size: 18px;
    }
}
