.plan {
    padding: 200px 0 215px;
    background-color: #f8f8f8;

    &__title {
        margin-bottom: 185px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 45px 30px 25px;
        width: 360px;
       min-height: 575px;
        background-color: #fff;
    }

    &__items li {
        margin-bottom: 20px;
        font-weight: 400;
        text-align: left;
        &:last-child {
          padding-top: 50px;
        }
    }

    &__item-total span {
        position: absolute;
        bottom: 8%;
        padding-left: 5px;
        font-size: 18px;
        line-height: 22px;
    }

    &__items &__item-type {
        margin-bottom: 60px;
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0;
        text-align: center;
        color: #01353e;
    }

    &__items &__item-total {
        position: relative;
        margin-top: auto;
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        color: #01353e;
    }
}
